body {
  align-items: center;
}

.chat-container {
  position: flex;
  bottom: 20px;
  width: 327px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  background-color: #5e4a8a;
  color: white;
  font-size: 16px;
}

.close-icon {
  margin-left: auto;
  cursor: pointer;
}

.header-text {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.cloud-icon {
  background: white;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;
  display: block;
}

.chat-window {
  padding: 10px;
  height: 200px;
  overflow-y: auto;
  background-color: #f4f4f8;
}

.download-button {
  background-color: #b14145;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.download-button:hover {
  background-color: #71272a; 
}

.message {
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #f4f4f8;
}

.input-container {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.input-box {
  flex-grow: 1;
  border: none;
  padding: 10px;
  border-radius: 18px;
  margin-right: 8px;
}

.title {
  font-size: 16px;
}

.send-button {
  border: none;
  background: linear-gradient(135deg, #745c8c 0%, #211B89 100%);
  border-radius: 15%;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: background-color 0.3s;
}

.send-button:hover {
  background: linear-gradient(135deg, #6f4785 0%, #120e50 100%);
}
